/*
STYLESHEET
@name Deep Blue
@from SiseDNA
@author SingleCorner
@version 2.0.0
*/

/*
	本段为前后台共用css	
*/
body {
	margin: 0px;
	padding-top: 70px;
	padding-bottom: 100px;
	overflow-y:scroll;
	font-family: 'Microsoft Yahei', Tahoma, 'Simsun';
	font-size: 14px;
	color: #FFF;
	background: #333;
}
body > footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 10px;
	text-align: center;
	font-family: "Microsoft Yahei", Tahoma, Simsun;
	font-size: 12px;
	color: #FFF;
	background: #222;
	text-shadow: 0px 0px 5px rgba(0, 0, 0, 1.00);
	-webkit-text-shadow: 0px 0px 5px rgba(0, 0, 0, 1.00);
	-moz-text-shadow: 0px 0px 5px rgba(0, 0, 0, 1.00);
	-ms-text-shadow: 0px 0px 5px rgba(0, 0, 0, 1.00);
	-o-text-shadow: 0px 0px 5px rgba(0, 0, 0, 1.00);
}

h1 {
	font-size: 20px;
	font-weight: normal;
	margin: 0px 0px;
	border-bottom: 1px solid #CCC;
	padding: 10px 10px;
	text-align: left;
}
h2 {
	margin: 10px 0px;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
}

h3 {
	margin: 5px 0px;
	font-size: 16px;
	font-weight: bold;
}


.light {
	width: 0px;
	height: 12px;
	display: inline-block;
	padding-left: 12px;
	overflow: hidden;
}

.warning {
	color: red;
}

.span1 { width: 70px; }
.span2 { width: 140px; }
.span3 { width: 210px; }
.span4 { width: 280px; }
.span5 { width: 350px; }
.span6 { width: 420px; }
.span7 { width: 490px; }
.span8 { width: 560px; }
.span9 { width: 630px; }

/*
	前台CSS
*/
