/*
STYLESHEET
@name Deep Blue
@from SiseDNA
@author SingleCorner
@version 2.0.0
*/

/*
	本段为前后台共用css	
*/
body {
	margin: 0px;
	padding: 0px;	
	overflow-y:scroll;
	font-family: 'Microsoft Yahei', Tahoma, 'Simsun';
	font-size: 14px;
	/*background: url(deepblue/bg.gif) #72B0DF;*/
	background: #333;
}
body.scroll {
	padding-top: 100px;
}
body > footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 20px;
	text-align: center;
	font-family: "Microsoft Yahei", Tahoma, Simsun;
	font-size: 12px;
	color: #FFF;
	text-shadow: 0px 0px 5px rgba(0, 0, 0, 1.00);
	-webkit-text-shadow: 0px 0px 5px rgba(0, 0, 0, 1.00);
	-moz-text-shadow: 0px 0px 5px rgba(0, 0, 0, 1.00);
	-ms-text-shadow: 0px 0px 5px rgba(0, 0, 0, 1.00);
	-o-text-shadow: 0px 0px 5px rgba(0, 0, 0, 1.00);
}


a {
	color: #222;
	text-decoration: none;
}
a:visited {
	color: #222;
}
a:hover {
	color: #000;
	text-decoration: underline;
}

img {
	border: none;
}

h1 {
	font-size: 20px;
	font-weight: normal;
	margin: 0px 0px;
	border-bottom: 1px solid #CCC;
	padding: 10px 10px;
	text-align: left;
}
h2 {
	margin: 10px 0px;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
}

h3 {
	margin: 5px 0px;
	font-size: 16px;
	font-weight: bold;
}


.light {
	width: 0px;
	height: 12px;
	display: inline-block;
	padding-left: 12px;
	overflow: hidden;
}

.warning {
	color: red;
}

center a {
	margin-left: 20px;
	cursor: pointer:
}


textarea {
	resize: none;
	padding: 5px;
	border: 1px solid #DDD;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	-ms-border-radius: 1px;
	-o-border-radius: 1px;
	border-radius: 1px;
	font-family: "Microsoft Yahei", Tahoma, Simsun;
	font-size: 14px;
	color: #555;
	background: #FFF;
	-webkit-transition: -webkit-box-shadow 500ms, border 500ms;
	-moz-transition: -moz-box-shadow 500ms, border 500ms;
	-ms-transition: -ms-box-shadow 500ms, border 500ms;
	-o-transition: -o-box-shadow 500ms, border 500ms;
	transition: box-shadow 500ms, border 500ms;
}

textarea:focus {
	outline: none;
	border-color: #20C3F9;
	-webkit-box-shadow: 0px 0px 4px rgba(0, 163, 217, 0.30);
	box-shadow: 0px 0px 4px rgba(0, 163, 217, 0.30);
}

.span1 { width: 70px; }
.span2 { width: 140px; }
.span3 { width: 210px; }
.span4 { width: 280px; }
.span5 { width: 350px; }
.span6 { width: 420px; }
.span7 { width: 490px; }
.span8 { width: 560px; }
.span9 { width: 630px; }

body.scroll #APP_top {
	position: fixed;
	top: -60px;
	right: 0;
	left: 0;
	-webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 1.00);
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 1.00);
}
/*
	前台CSS
*/
