html, body {
	padding-top: 60px;
	background: #333;
}

body > footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 20px;
	text-align: center;
	font-family: "Microsoft Yahei", Tahoma, Simsun;
	font-size: 12px;
	color: #FFF;
	text-shadow: 0px 0px 5px rgba(0, 0, 0, 1.00);
	-webkit-text-shadow: 0px 0px 5px rgba(0, 0, 0, 1.00);
	-moz-text-shadow: 0px 0px 5px rgba(0, 0, 0, 1.00);
	-ms-text-shadow: 0px 0px 5px rgba(0, 0, 0, 1.00);
	-o-text-shadow: 0px 0px 5px rgba(0, 0, 0, 1.00);
}
