<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Language" content="zh-cn">
	<meta http-equiv="Content-Type" content="text/html">
	<meta name="description" content="自动化运维平台">
	<title>cherie</title>
	<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" />
	<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" />
{% block css %}
{% endblock %}
  <script src="http://cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
  <script src="http://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="/static/js/jquery.sha1.js"></script>
{% block script %}
{% endblock %}
</head>
<body scroll=auto>
	<!-- 顶栏开始 -->
	<header>
		<!-- 导航区 -->
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div class="container-fluid">
				<!-- LOGO -->
				<div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-ham" aria-expanded="false" >
          	<span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
          </button>
		      <a class="navbar-brand" href="/">cherie</a>
		    </div>
				<!-- LOGO end -->
				<!-- link -->
				<div class="collapse navbar-collapse" id="navbar-ham">
{% block navigation %}
{% endblock %}
				</div> 
				<!-- link end -->
			</div>
		</nav>
		<!-- 导航区 end -->
	</header>
	<!-- 顶栏结束 -->
	<!-- 主容器开始 -->
	<div class="container-fluid">

{% block app %}
{% endblock %}
	</div>
	<!-- 主容器结束 -->
	<!-- 页脚开始 -->
	<footer>
		<div>OpenSource project with MIT license</div>
		<div>
			Author: <a href="https://github.com/SingleCorner/">SingleConer</a>
			Project: <a href="https://github.com/SingleCorner/cherie">cherie</a>
		</div>
	</footer>
	<!-- 页脚结束 -->
</body>
</html>