{% extends "user_base.html"%}

{% block app %}
		<div class="row">
			<div class="col-xs-3 col-sm-3 col-md-2" role="navigation">
				<ul class="nav nav-pills nav-stacked">
		  		<li class="active"><a href="/">设备状态汇总</a></li>
		  		<li><a href="/">用户与组中心</a></li>
		  		<li><a href="/">资产管理中心</a></li>
		  		<li><a href="/">运维操作中心</a></li>
		  		<li><a href="/">实时监控中心</a></li>
		  		<li><a href="/">历史回顾查询</a></li>
				</ul>
			</div>
			<div class="col-xs-9 col-sm-9 col-md-10">
				终于把布局修改的差不多了
			</div>
		</div>
{% endblock %}