{% extends "user_base.html"%}

{% block data %}
<table class="table">
	<thead>
		<tr>
			<th>所有权组名</th>
			<th>管理权组名</th>
			<th>运维权组名</th>
	    <th>查看权组名</th>
			<th>操作</th>
		</tr>
  </thead>
  <tbody>
  {% for group in group_list %}
    <tr>
      <td>{{ group.name }}</td>
      <td></td>
      <td></td>
      <td></td>
      <td>
        <input type="text">
        <button class="btn btn-success">invite</button>
        <button class="btn btn-danger">unsign</button>
        <button class="btn btn-primary">运维模式</button>
        <button class="btn btn-primary">查看模式</button>
      </td>
    </tr>
  {% endfor %}

  {% for grpauth in grpauth_list %}
    <tr>
      <td></td>
    {% ifequal grpauth.privilege 0 %}
      <td>{{ grpauth.gid.name }}</td>
    {% else %}
      <td></td>
    {% endifequal %}
    {% ifequal grpauth.privilege 1 %}
      <td>{{ grpauth.gid.name }}</td>
    {% else %}
      <td></td>
    {% endifequal %}
    {% ifequal grpauth.privilege 2 %}
      <td>{{ grpauth.gid.name }}</td>
    {% else %}
      <td></td>
    {% endifequal %}
      <td>
      {% ifequal grpauth.privilege 0 %}
        <input type="text">
        <button class="btn btn-success">invite</button>
        <button class="btn btn-danger">unsign</button>
        <button class="btn btn-success">运维模式</button>
        <button class="btn btn-primary">查看模式</button>
      {% endifequal %}
      </td>
    </tr>
  {% endfor %}

	</tbody>
</table>
{% endblock %}